<div class="col-md-12">
  <app-card cardTitle="Withrawal history" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Date/Time</th>
          <th>Plan</th>
          <th>Amount</th>
          <th>Coin
             <!-- <img src="https://img.icons8.com/officexs/16/000000/bitcoin.png"/>
            <img src="../../../assets/images/etf.png" height="16" width="16" />
            <img src="../../../assets/images/doge.png" height="16" width="16" /> -->
          </th>
          <th>Address</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="history?.length >0">
              <tr *ngFor="let record of history;let i=index;" class="t-list">
                <td>{{i+1}}</td>
                <td>{{record?.created_at}}</td>
                <td>{{record?.investment?.plan_id}}</td>
                <td>{{'$' + record?.amount}}</td>
                <td>{{record?.payment_method}}</td>
                <td>{{record?.paying_address}}</td>
                <td [ngClass]="{confirmed: record.status == 'Confirmed'}">{{record.status}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <!-- <div class="col-12 text-center" *ngIf="(students | async)?.length <1">
        <p>No data available</p>
        <button class="btn btn-primary" [routerLink]="['/authenticated/add-new-student']">Invest</button>
      </div> -->
    </div>
  </app-card>
</div>
