<div class="col-md-12" *ngIf="apiRes.status == null">
  <app-card cardTitle="Withdraw Request" blockClass="table-border-style" *ngIf="investments.length > 0">
    <form method="POST" [formGroup]="withdrawForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-row">
      <div class="col-12">
        <app-card cardTitle="How to withdraw" [options]="true">
          <p>1. Select your investment from the dropdown below</p>
          <p>2. Select your payment network. This is selecting the type of cryptocurrency you intend on receiving your payment</p>
          <p>3. Input your wallet address</p>
          <p><strong>Important: Ensure to confirm address. This transaction cannot be reversed/cancelled after submission.</strong></p>
          <p>4. Click on the "Request" button to send a payment request.</p>
          <p><i>Hint: Withdrawal confirmation can take a few minutes. usually between 2-5 minutes for our system to mine, validate and confirm withdrawal.</i></p>
          <p>An email will be sent to your account email when payment is confirmed.</p>
        </app-card>
      </div>
        <div class="form-group col-md-6">
          <label for="inputAddress2">Select Investment</label>
          <select id="invest" class="form-control" formControlName="investment" (change)="updateSeletedInvestMent()">
            <option value="" selected>{{'Select Investment' | titlecase}}</option>
            <option *ngFor="let invest of investments" value="{{invest.id}}">{{invest.plans.name + ' $ ' + invest.amount}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress2">Payment Method</label>
          <select id="inputState" class="form-control" formControlName="payment_method">
            <option value="" selected>{{'Select Payment method' | titlecase}}</option>
            <option value="BTC">{{'BTC' |titlecase}}</option>
            <option value="ETH">{{'ETH' |titlecase}}</option>
            <option value="ETH">{{'USDT' |titlecase}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress2">Address to pay (important)</label>
          <input type="text" class="form-control" id="inputAddress2" formControlName="paying_address" placeholder="Enter the address you are paying from">
          <a (click)="paste()" href="javascript:void(0);">Paste from Clipboard</a>
        </div>
        <div class="form-group col-md-6" *ngIf="selectedInvestMent">
          <label for="inputAddress2">Amount</label>
          <input type="number" class="form-control" id="inputAddress2" disabled formControlName="amount" value="{{getRoi()}}">
        </div>
        <div class="col-12 text-center" *ngIf="validate().payment_method.valid">
          <p *ngIf="message">{{message}}</p>
          <button class="btn btn-primary event-btn m-2" type="submit" *ngIf="!validator_toast.success">
            <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
            <span *ngIf="this.submitLoader" class="load-text"> Requesting...</span>
            <span *ngIf="!this.submitLoader" class="btn-text">Request</span>
          </button>
          </div>
      </div>
    </form>

    <p *ngIf="validator_toast.message" class="success">{{validator_toast.message}}</p>
  </app-card>
  <app-card cardTitle="Withdraw Request" blockClass="table-border-style" *ngIf="investments.length < 1">
    <p>No Related Data</p>
  </app-card>
</div>

<div class="col-md-12" *ngIf="apiRes.status !== null">
  <app-card cardTitle="Withdrawal Request Received" [options]="true">
    <div class="text-center">
      <h4>Withdrawal request received and submitted for confirmation.</h4>
      <button type="button" class="btn" style="background-color: rgba(0, 0, 0, 0.07)" (click)="withdrawalHistory()">Go to withdrawal history</button>
    </div>
  </app-card>
</div>

