<div class="col-md-12">
  <app-card cardTitle="Withrawal history" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Date/Time</th>
          <th>Plan</th>
          <th>Withdrawal<br>(Sold at)</th>
          <th>Withdrawal<br>(Network)</th>
          <th>Investment<br>(Bought at)</th>
          <th>Investment<br>(Network)</th>
          <th>Withdrawal<br>(Address)</th>
          <!-- <th>Confirmations</th> -->
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="history?.length >0">
              <tr *ngFor="let record of history;let i=index;" class="t-list">
                <td>{{i+1}}</td>
                <td>{{getTimeStamp(record?.created_at)}}</td>
                <td>{{record?.investment?.plan_id}}</td>
                <td>{{'$' + record?.amount}}</td>
                <td>{{record?.payment_method}}
                  <img src="../../../assets/images/etf.png" height="16" width="16" *ngIf="record?.payment_method == 'ETH'" />
                  <img src="https://img.icons8.com/officexs/16/000000/bitcoin.png" *ngIf="record?.payment_method == 'BTC'" height="16" width="16" />
                </td>
                <td>{{'$' + record?.investment?.amount}}</td>
                <td>{{record?.investment?.type}}
                  <img src="../../../assets/images/etf.png" height="16" width="16" *ngIf="record?.investment?.type == 'ETH'" />
                  <img src="https://img.icons8.com/officexs/16/000000/bitcoin.png" *ngIf="record?.investment?.type == 'BTC'" height="16" width="16" />
                </td>
                <td>{{record?.paying_address}}</td>
                <!-- <td>
                  <span *ngIf="record.status == 'Confirmed'">
                    <script>document.write(Math.floor(Math.random() * (10 - 7) + 7) + ' / 10')</script>
                  </span>
                  <span *ngIf="record.status == 'Pending'">
                    <script>document.write(Math.floor(Math.random() * (4 - 2) + 2) + ' / 10')</script>
                  </span>
                  </td> -->
                  <!-- {{record.status == 'Confirmed' ? <script>document.write(Math.floor(Math.random() * (10 - 7) + 7) + ' / 10')</script> : <script>document.write(Math.floor(Math.random() * ( - 2) +2) + ' / 10')</script>}}</td> -->
                <td [ngClass]="{confirmed: record.status == 'Confirmed'}">{{record.status}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <!-- <div class="col-12 text-center" *ngIf="(students | async)?.length <1">
        <p>No data available</p>
        <button class="btn btn-primary" [routerLink]="['/authenticated/add-new-student']">Invest</button>
      </div> -->
    </div>
  </app-card>
</div>
