<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="../../../../../assets/images/logo/logo_transparent.png" height="100" style="height: 100px;" alt="" class="img-fluid mb-4">
            <!-- <p class="img-fluid mb-4" style="font-size: 20px;
            font-weight: bolder;">
                        <a href="{{environment.website}}">
                          <strong style="color: #cc9000;">Top </strong>  <span style="color: #000;">Finance Ltd</span>
                        </a>
          </p> -->
            <h4 class="mb-3 f-w-400">Reset your password</h4>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="feather icon-mail"></i></span>
              </div>
              <input type="email" id="email" required="" class="form-control" placeholder="Email address">
            </div>
            <button class="btn btn-block btn-primary mb-4" style="background: #0b4f74; border-color: #cc9000;" (click)="resetPassword()">Reset password</button>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p>
            <p class="mb-2 text-muted"><a href="https://t.me/royal_assets_ltd_bot" target="__blank" class="f-w-400">Contact our bot support</a></p>
          </div>
        </div>
        <div class="col-12">
          <iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&theme=dark&pref_coin_id=1505&invert_hover=" width="100%" height="36px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
<style>
  /* .auth-wrapper {
    background: #0b4f74 !important;
} */
</style>
