.pass-vis{
  cursor: pointer !important;
}
button{
  border-radius: 40px;
}
.card {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
