<div class="col-md-12">
  <app-card cardTitle="Record" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Email</th>
          <th>Amount</th>
          <th>Plan</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="investors?.length >0">
              <tr *ngFor="let investor of investors;let i =index;" class="t-list">
                <td>{{i +1}}</td>
                <td>{{getTimeStamp(investor?.created_at)}}</td>
                <td>{{investor?.user?.email}}</td>
                <td>{{'$' + investor?.amount}}</td>
                <td>{{investor?.plans?.name}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="col-12 text-center" *ngIf="investors?.length <1">
        <p>No data available</p>
      </div>
    </div>
  </app-card>
</div>
