.pass-vis{
  cursor: pointer !important;
}
.error{
  border: 1px solid red !important;
}
.success-m{
  color: green !important;
}
.error-m{
  color: red !important;
}
.disable{
  cursor: not-allowed;
  background-color: rgb(166, 166, 246);
}
