<div *ngIf="apiRes.status == null">
  <form method="POST" [formGroup]="investForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col-12">
        <app-card cardTitle="How to invest" [options]="true">
          <p>1. Select an investment plan from the dropdown below</p>
          <p>2. Select your payment network. This is selecting the type of cryptocurrency you intent on paying with</p>
          <p>3. Input the amount of investment.</p>
          <p><strong>Important: Ensure to send the exact amount from your payment wallet.</strong></p>
          <p>4. Input the wallet address in which you made this payment with.</p>
          <p><i>Hint: Click on the "Copy address" Button to copy the payment address</i></p>
          <p><i>Minimize/Go to your personal wallet and make the payment of the inputed amount.</i></p>
          <p>5. Click on the "I have made payment" After making the payment.</p>
          <p><i>Hint: Payment confirmation can take a few minutes. usually between 1-3 minutes for our system to mine and confirm payment.</i></p>
          <p>An email will be sent to your account email when payment is confirmed.</p>
        </app-card>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress2">Select Investement Plan</label>
        <select id="plan" class="form-control" (change)="selectPlan()" formControlName="plan">
          <option value="" selected>Select plan</option>
          <option *ngFor="let plan of plans" value="{{plan.id}}">
            {{plan.name}} </option>
        </select>
      </div>
      <div class="form-group col-md-6" *ngIf="plan">
        <label for="inputAddress2">Select Payment Method</label>
        <select id="inputState" class="form-control" formControlName="address">
          <option value="" selected>{{'Select Payment method' | titlecase}}</option>
          <option *ngFor="let address of addresses" value="{{address.address}}">{{address.coin |titlecase}}</option>
        </select>
      </div>

      <div class="form-group col-md-6" *ngIf="plan">
        <label for="inputAddress2">Input Amount</label>
        <input type="number" class="form-control" min="{{plan.min_amount}}" formControlName="amount" max="{{plan.max_amount}}" id="inputAddress2" placeholder="Enter amount">
        <p *ngIf="validate().amount.valid" id="return">Return: $ {{(validate().amount.value * (plan.interest/100)) + validate().amount.value}}</p>
      </div>

      <div class="form-group col-md-6" *ngIf="plan">
        <label for="inputAddress2">Paying Address (important)</label>
        <input type="text" class="form-control" id="inputAddress2" formControlName="paying_address" placeholder="Enter the address you are paying from">
        <a (click)="paste()" href="javascript:void(0);">Paste from Clipboard</a>
      </div>
      <div class="col-12 text-center" *ngIf="validate().address.valid">
        <p>Plan Details</p>
        <span>Minimum amount: {{plan.min_amount}}</span><br>
        <span>Maximum amount: {{plan.max_amount}}</span><br>
        <span>Maturity: {{plan.maturity}} (Hours)</span><br>
        <span>Interest: <strong>{{plan.interest}} %</strong></span>
        <h4>Address to pay to: {{validate().address.value}}</h4>
        <button type="button" class="btn btn-dark" (click)="copy()">Copy Address</button>
        <p *ngIf="message">{{message}}</p>
        <button class="btn btn-primary event-btn m-2" type="submit" *ngIf="!validator_toast.success">
          <span *ngIf="this.submitLoader" class="spinner-grow spinner-grow-sm" role="status"></span>
          <span *ngIf="this.submitLoader" class="load-text"> Investing...</span>
          <span *ngIf="!this.submitLoader" class="btn-text">I have made payment</span>
        </button>
      </div>
    </div>
  </form>

  <p *ngIf="validator_toast.message" class="success">{{validator_toast.message}}</p>
</div>
<div *ngIf="apiRes.status !== null">
  <app-card cardTitle="Payment Received" [options]="true">
    <div class="text-center">
      <h4>Payment received and submitted for confirmation</h4>
      <button type="button" class="btn" style="background-color: rgba(0, 0, 0, 0.07)" (click)="investmentHistory()">Go to investment history</button>
    </div>
  </app-card>
</div>
