<div class="col-md-12">
  <app-card cardTitle="Investment history" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Date/Time</th>
          <th>Amount</th>
          <th>Coin</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <ng-container  *ngIf="history?.length >0">
              <tr *ngFor="let record of history;let i=index;" class="t-list">
                <td>{{i +1}}</td>
                <td>{{getTimeStamp(record.created_at)}}</td>
                <td>{{'$' + record.amount}}</td>
                <td>{{record.payment_method}}</td>
                <td>{{record.paying_address}}</td>
                <td style="color: green;">{{record.status}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="col-12 text-center" *ngIf="history?.length <1">
        <p>No data available</p>
      </div>
    </div>
  </app-card>
</div>
